body {
    margin: 4px;
    font-family: monospace;
    overflow-y: scroll;

    @media (prefers-color-scheme: dark) {
    color: #fff;
    background: #181818;
    }
}

.tri-checkbox {
    flex: 0 0 1.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center; /* vertical centering */
    width: 20px;
    height: 20px;
    border: 2px solid #666;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.9em; /* scales with surrounding text */
    cursor: pointer;
    user-select: none;
}
.tri-checkbox.plus {
    color: green;
}
.tri-checkbox.minus {
    color: red;
}
.tri-checkbox.neutral {
    color: transparent;
}
label {
    margin-right: 0.5em;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr)); 
    gap: 0.25em 0.75em; /* row-gap col-gap */
}

#room-group-toggles {
    position: relative;
    top: 0;
    right: 0;
    padding: 0 4px;
    display: flex;
    gap: 16px;
    font-size: 1.2em;
    background: #ccc;

    @media (prefers-color-scheme: dark) {
    background: #333;
    }
}

.group-title {
    font-weight: bold;
    margin-top: 0.5em;
    display: block;
}

.RoomGroup-container {
    flex: 1.5;
    padding-left: 16px;
    padding-bottom: 8px;
}
.Palace-container {
    flex: 1;
    padding-left: 16px;
    padding-bottom: 8px;
    background-color: #262626;
}
.RoomType-container {
    flex: 3;
    padding-left: 16px;
    padding-bottom: 8px;
}
.Tag-container {
    flex: 1.2;
    padding-left: 16px;
    padding-bottom: 8px;
    background-color: #262626;
}
.ExitType-container {
    flex: 8;
    padding-left: 16px;
    padding-bottom: 8px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
}

.room {
    flex: 400px;
    margin: 4px 4px 20px;

    @media screen and (max-width:540.9px) {
    height: 78.24vh;
    }
}

.room p {
    margin: 0;
    font-size: 1.2em;

    @media screen and (max-width:800px) {
    font-size: 0.70em;
    }

    @media screen and (max-width:600px) {
    font-size: 0.60em;
    }

    @media screen and (max-width:540.9px) {
    font-size: 0.33em;
    }
}

.room-name {
    display: inline-block;
    font-style: italic;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    max-width: 400px;
}

.room-author {
    display: inline-block;
    opacity: 0.4;
}

.room-img {
    width: 100%;

    @media screen and (max-width:800px) {
    image-rendering: pixelated;
    }
}

.room-tags {
    display: block;
}

.room-connections {
    display: block;
}

.room-requirements {
    display: block;
}

.requirement-img {
    height: 1.6em;
    vertical-align: middle;
    image-rendering: pixelated;
}
